
  <div class="ui vertical stripe segment">
    <div class="ui six column centered grid">
      <div class="six wide column">
        <div class="ui teal inverted segment">
           

						<h2>ABOUT US</h2>

						<%= image_tag('IMG_2983.JPG', :height => "200px", :class => 'ui small left floated image') %>

						We are four Dev Bootcamp Chicago students on a mission.

						To bring Donation Cats to the world.

						And cats who donate.


						And non-profit wishlists in one easy to find hub for all your favorite charities.

						<p>
						<P>
						<center>LESLEY | SHAWN | BEN | PETE</center>



        </div>

        <div class="ui teal inverted segment">
        	<h3>ABOUT 'DONNY' THE DONATION CAT</h3>

        	<%= image_tag('yarncat.png', :height => "200px", :class => 'ui small left floated image') %>
        	<h4>Name:</h4> 
        	Mark Donald, but he goes by Donny.
        	<p>

        	<h4>Favorite Cat Food Flavor:</h4>
        	Salmon
        	<p>

        	<h4>Favorite TV Show:</h4>
        	Cats from Hell
        	<p>

        </div>
      </div>
    </div>
  </div>
