<div class="pusher">

    <h1 class="ui header">
      <div class="ui text container">
        Donation Cat
        </div>
      </h1>
      <h2>Grant a wish right meow.</p></h2>
      <div class="ui huge primary button">Find a charity near you <i class="right arrow icon"></i>
      </div>
  </div>

  </div>

  <div class="ui vertical stripe segment">
  <center><h2>Charity Categories</h2></center>
    <div class="ui middle aligned stackable grid container">
        <div class="ui grid">
          <div class="row">
            <% @categories.each do |category| %>
             <div class="four wide column"><%= link_to category.name, category_path(category) %></h2></div>
            <% end %>
            </div>
        </div>
      
    </div>
  </div>

</div>
