<div class="pusher">
  <div class="ui text container">
    <h1 class="ui header">Donation Cat</h1>
    <h2>Help right meow.</h2>
  </div>
  <P>
  <div class="ui huge primary button">

    <a href="/charities/map">Find a charity near you</a><i class="right arrow icon"></i>
  </div>
</div>

<div class="ui vertical stripe segment">
  <center><h2>Charity Categories</h2></center>

  <div class="ui twelve wide centered grid">
    <% Category.all.each_slice(3) do |category_row| %>
      <div class="category-row row">
        <% category_row.each do |category| %>
          <div class="category-card four wide column">
            <%= image_tag("#{category.name}.jpg", :border => 0, :class => "category-card-image")%>
            <%= link_to category.name, category, :class => "link-category" %>
          </div><BR>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

