<div class="pusher">
  <div class="ui text container">
    <h1 class="ui header">
      <span id="mainlogo">
        <%= image_tag("donationcatmain.png", :title => 'Meet Donny, the Donation Cat.') %>
      </span>
    </h1>
    <h2>Help right meow.</h2>
  </div>
  <P>
  <a href="/charities/map"><button class="ui huge primary button">
    Find a charity near you<i class="right arrow icon"></i>
  </button>
  </a>
</div>

<div class="ui vertical stripe segment">


  <div class="ui twelve wide centered grid">
    <h2 class="ui horizontal divider header">
        <i class="paw icon"></i>
          Charity Categories
    </h2>
    <% Category.all.each_slice(3) do |category_row| %>
      <div class="category-row row">
        <% category_row.each do |category| %>
          <div class="category-card four wide column">
            <%= image_tag("#{category.name}.jpg", :border => 0, :class => "category-card-image")%>
            <%= link_to category.name, category, :class => "link-category" %>
          </div><BR>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

