
  <div class="ui vertical stripe segment">
    <div class="ui sixteen column centered grid">

      <div class="two column row">

        <div class="three wide column">

            <%= image_tag("computercat.png", :class => "ui small image") %>

        </div>

      <div class="ten wide column">
        <div class="ui teal inverted segment">
            Community News
        </div>
      </div>

    </div>

    <div class="two column row">

        <div class="column">
          <div class="ui teal inverted segment">
            <a class="twitter-timeline" href="https://twitter.com/ShawnWilkinson_/lists/chicago-nonprofits" data-widget-id="631176144654610432">Tweets from https://twitter.com/ShawnWilkinson_/lists/chicago-nonprofits</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>

      <div class="column">
        <div class="ui teal inverted segment">
          <div id="google_feeds"></div>
        </div>
      </div>

    </div>
  </div>
</div>



