<%= stylesheet_link_tag "map.css" %>
<br>
<br>
<br>
<br>
<br>
<br>


      <form id="search-zip-form">
        <label for="search-zip">Enter 5-digit zip code:</label></br><br>
        <input type="text" name="search-zip"></br></br>
        <button class="ui primary button" type="submit">Find Charities</button>
      </form>
      <br>
      <div id="error-container"></div>
      
        <div id="full-map-canvas"></div>
     
