<% content_for :javascripts do %>
  <script type="text/javascript">
    initialize();
  </script>
<% end %>
<%= stylesheet_link_tag "map.css" %>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="center aligned column">
        <div class="ui left floated">
         <div id="full-map-canvas"></div>
        </div>
        <div class="ui right floated">
          <form id="search-zip-form">
            <label for="search-zip">Enter 5-digit zip code:</label>
            <input type="text" name="search-zip">
            <input type="submit" value="Find!">
          </form>
          <div id="error-container"></div> 
        </div>
      </div>
    </div>
  </div>
</div>
