/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require_tree .
 *= require_self
 */



#search-zip-form {
  margin: 0 auto 0 auto; 
  
}

#full-map-canvas {
  margin: 0 auto 0 auto; 
}


#community {
  max-width: 100%;
}

.name-links {
  color: white;
}

.charity-info {
  font-size: 17px;
  font-family: sans-serif;

}

/*#left-side {
  border-right: 1px solid;
}
*/
 #mainlogo {
  height: 550px;
 }

 #piper {
  font-size: 30px;
 }

.category-card {
  position: relative;
}
.category-card img {
  position: absolute;
  border-radius: 15px 50px;
  top:0;
  height: 160px;
  width: 275px;
  left:0;
  color: black;
  opacity: .8;
  border-bottom-width: 1px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.category-card:hover img {
  opacity: 0.25;
}

.category-card a {
  position: relative;
  display: block;
  width: 100%;
  height: 160px;
  line-height: 160px;
  vertical-align: center;
  z-index: 10;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-bottom: 1px;
}
.link-category{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border: 1px;
  text-align: center;
  font-size: 30px;

}
.link-category:hover {
  color: black;
  text-shadow: 2px 2px 4px #FFFFFF;
}

 .hidden.menu {
      display: none;
     }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 1.5em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 2em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }
    .ui.centered.grid {
      border-radius: 25px;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#the-middle-part {
  /*overflow:auto;*/
  position: relative;
  padding-bottom: 50px;
  min-height: 100%;
}  /* must be same height as the footer */

footer {
  bottom: 0;
  position: absolute;
  margin-top: -50px; /* negative value of footer height */
  height: 200px;
  /*clear:both;*/
}
    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.3em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
