#map-canvas {
  width: 25em;
  height: 23em;
  border: 2px solid black;
}

#full-map-canvas {
  width: 50em;
  height: 29em;
  border: 2px solid black;
}

#search-zip-form {
  font-size: 17px;
  font-family: sans-serif;
}
